.add-task-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: -5px;
  margin-top: 8px;
  width: 8rem;
  outline: none;
  border: none;
  background: none;
  margin-left: 3px;
}

.add-task-button svg {
  font-size: medium;
  border-radius: 50%;
  background-color: brown;
  color: white;
}

.add-task-button span {
  color: brown;
  background-color: transparent;
  margin-left: 7px;
  font-size: 15px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.8;
}
.heading h3 {
  color: blueviolet;
  
}
